* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#layout {
  min-height: 61rem;
}

#header-section {
}

#navtop-header-antd {
}

#navmid-header-antd {
}

#content-antd {
}

#footer-antd {
}

#home-section {
}
